<%- include('./partials/head') %>

  <header>
    <img src="<%= data.avatar %>" alt="Avatar van mij">
    <h1>
      <%= data.name %>
        <%= data.surname %>
    </h1>
    <h2>Jr. Front-end developer</h2>
  </header>
  <hr>
  <main>
    <ul>
      <li>
        <%= data.website %>
      </li>
      <li>
        <%= data.email %>
      </li>
      <li>
        <%= data.phone_number %>
      </li>
    </ul>
  </main>
  <hr>
  <footer>

  </footer>

  <%- include('./partials/foot') %>