<%- include('./partials/head') %>
  <section class="card-container">

    <header>
      <img src="<%= data.avatar %>" alt="Avatar">
      <h1>
        <%= data.name %>
          <%= data.surname %>
      </h1>
      <h2>Front-end Design & Developer</h2>
      <div class="tags">
        <span class="student">Student</span>
        <span class="developer">Developer</span>
      </div>
    </header>
    <hr>
    <main>
      <ul>
        <li>
          <a href="<%= data.website %>" target="_blank">
            <i class="fa-solid fa-house"></i>
            <%= data.website %>
          </a>
        </li>
        <li>
          <a href="mailto:jesse-kramer@hva.nl" target="_blank">
            <i class="fa-solid fa-envelope"></i>
            jesse-kramer@hva.nl
          </a>
        </li>
        <li>
          <a href="https://github.com/Jesse-Kramer" target="_blank">
            <i class="fa-brands fa-github"></i>
            Bekijk mijn GitHub
          </a>
        </li>
      </ul>
    </main>
    <hr>
    <footer>
      <a href="https://www.instagram.com/jessekr/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/jesse-kramer-10058822a/" target="_blank"><i
          class="fa-brands fa-linkedin-in"></i></a>
    </footer>
  </section>

  <%- include('./partials/foot') %>